<section class="cont-hero">
  <div class="cont-hero__text">
    <h1>{{sectionHero.title}}</h1>
    <p>{{sectionHero.subTitle}}</p>
    <button class="button button--onDark">{{sectionHero.button}}</button>
  </div>
  <div class="cont-hero__image">
    <img class="cont-hero__image__phone" src="assets/home/desktop/image-hero-phone.png" alt="">
  </div>
  <img class="cont-hero__pattern" src="assets/home/desktop/bg-pattern-hero-home.svg" alt="">
</section>
<div class="pattern-leaf">
  <img src="assets/shared/desktop/bg-pattern-leaf.svg" alt="">
</div>
<section class="cont-skill">
  <div class="cont-skill__left">
    <h2>WEB DESIGN</h2>
    <a href="">VIEW PROJECTS <i class="fas fa-angle-right"></i></a>
  </div>
  <div class="cont-skill__right">
    <div class="cont-skill__right__top">
      <h2>APP DESIGN</h2>
    <a href="">VIEW PROJECTS <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="cont-skill__right__bottom">
      <h2>GRAPHIC DESIGN</h2>
    <a href="">VIEW PROJECTS <i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</section>
<section class="cont-illustration">
  <div class="cont-illustration__item">
    <div class="cont-illustration__item__image-1">
      <img src="assets/home/desktop/illustration-passionate.svg" alt="illustration">
    </div>
    <h3>PASSIONATE</h3>
    <p>Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.</p>
  </div>
  <div class="cont-illustration__item">
    <div class="cont-illustration__item__image-2">
      <img src="assets/home/desktop/illustration-resourceful.svg" alt="illustration">
    </div>
    <h3>RESOURCEFUL</h3>
    <p>Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.</p>
  </div>
  <div class="cont-illustration__item">
    <div class="cont-illustration__item__image-3">
      <img src="assets/home/desktop/illustration-friendly.svg" alt="illustration">
    </div>
    <h3>FRIENDLY</h3>
    <p> We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.</p>
  </div>
</section>
<div class="pattern-leaf-reverse">
  <img src="assets/shared/desktop/bg-pattern-leaf.svg" alt="">
</div>
<app-cta></app-cta>

