nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1111px;
  margin: 0 auto;
  height: 152px;
  .logo{
    display: flex;
    align-items: center;
    height: 24px;
    img{
      height: 100%;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .menu{
    ul{
      display: flex;
      li{
        margin-left: 40px;
        text-transform: uppercase;
        a{
          letter-spacing: 2px;
        }
      }
    }
  }
}
@media (max-width:959px) {
  nav{
    padding: 0 30px;
    .menu{
      ul{
        li{
          margin-left: 20px;
          text-transform: uppercase;
          a{
            letter-spacing: 1.5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width:582px) {
  nav{
    .menu{
      ul{
        li{
          margin-left: 13px;
          a{
            font-size: 10px;
          }
        }
      }
    }
  }
}
