<nav>
  <div class="logo">
    <img src="assets/shared/desktop/logo-dark.png" alt="logo {{title}}" routerLink="/">
  </div>
  <div class="menu">
    <ul>
      <li *ngFor="let item of menuNavbar"><a href="" routerLink="/{{item.link}}">{{item.nome}}</a></li>
    </ul>
  </div>
  <div id="menuMobile">
    <div id="menuMobile__burger" (click)="toggleButton()">
        <img src="assets/shared/mobile/icon-hamburger.svg" alt="burger">
    </div>
    <div id="menuMobile__list" class="">
      <img id="image" src="assets/shared/desktop/logo-dark.png" alt="logo">
      <ul>
        <li *ngFor="let item of menuNavbar"><a href="" (click)="toggleButton()" routerLink="/{{item.link}}">{{item.nome}}</a></li>
      </ul>
    </div>
  </div>
</nav>
