nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1111px;
  margin: 0 auto;
  height: 152px;
  .logo{
    display: flex;
    align-items: center;
    height: 24px;
    img{
      height: 100%;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .menu{
    ul{
      display: flex;
      li{
        margin-left: 40px;
        text-transform: uppercase;
        a{
          letter-spacing: 2px;
        }
      }
    }
  }
  #menuMobile{
    display: none;
  }
}
@media (max-width:959px) {
  nav{
    padding: 0 30px;
    .menu{
      ul{
        li{
          margin-left: 20px;
          text-transform: uppercase;
          a{
            letter-spacing: 1.5px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width:582px) {
  nav{
    position: relative;
    cursor: pointer;
    .menu{
      display: none;
    }
    #menuMobile{
      display: block;
      &__list{
        display: none;
      }
    }
  }
}
.pannel{
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 97vw;
  z-index: 2;
  text-align: right;
  padding: 62px 30px 0 0;
  transition: all ease 1s;
}
.listStyle{
  img{
    position: absolute;
    top: 5.1%;
    left: 5.4%;
    width: 180px;
    margin-top: 6px;
  }
  ul{
    li{
      margin-bottom: 30px;
      a{
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
          border-top: 1px solid var(--darkGray);
          border-bottom: 1px solid var(--darkGray);
        }
      }
    }
  }
}
